* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
}

#main-card {
    background: hsl(213, 19%, 18%);
    padding: 36px 28px;
    border-radius: 12px;
    max-width: 420px;
}

#secondary-card {
    display: none;
    background: hsl(213, 19%, 18%);
    text-align: center;
    padding: 44px 25px;
    border-radius: 12px;
    max-width: 410px;
}

#rating-container {
    margin-top: 40px;
    margin-bottom: 19px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 23%);
    padding: 7px 23px;
    border-radius: 40px;
    display: inline-block;
}

#star {
    background-color: hsl(213, 19%, 23%);
    border-radius: 50%;
    padding: 14px;
}

#thank-img {
    display: block;
    margin: 0 auto;
}

h1 {
    margin-top: 22px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

p {
    margin-top: 14px;
    color: hsl(217, 12%, 63%);
    line-height: 1.5em;
}

#rating-component {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}

#top-col {
    display: flex;
    justify-content: center;
}

#top-col button {
    font-size: 1.1em;
    height: 45px;
    width: 45px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}

.btn-passive {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 23%);
}

#top-col button:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#submit-btn {
    margin-top: 26px;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    padding: 14px;
    border-radius: 35px;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 15px;
}

#submit-btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    color: aliceblue;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.btn-active {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.hide {
    display: none;
}

@media (min-width: 420px) {
    p {
        font-size: 16px;
    }

    #top-col button {
        height: 50px;
        width: 50px;
    }
}